@import '@style/variables.scss';

.header {
  height: 120px;
  background: url('/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: $dimen-xg * 2;
  background-color: black;
  
  padding: $dimen-xg;

  border-radius: 0 0 $dimen-lg $dimen-lg;
  // background-color: $color-background-secondary;

  * {
    color: $color-background;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $dimen-lg;


  padding: $dimen-xg;
}

.switch {
  $size: 48px;
  width: $size;
  height: $size;
  padding: 0;
  border-radius: $size / 2;
  margin: 0 $dimen-xg;
}
